<h1>Welcome</h1>
<div class="row">
		<div class="col-md-12 center">
<% @lines.each do |line| %>
	<div class="circle <% if line.status != "GOOD SERVICE" %> <%="delays"%> <% end %> ">
		<h3>
			<a href="/line/<%=line.id%>"><%=line.name%></a>
		</h3>
	</div>
<% end %>
</div>
</div>
<h3>Last updated 	<%=@update_time%></h3>