<h1>Settings</h1>
<h2>Name: <%=@user.first_name%> <%=@user.last_name%></h2>
<h2>Email: <%=@user.email%></h2>
<%= link_to "Destroy", admin_destroy_user_path(@user), method: :delete, data: { confirm: "You sure?" } %>