.sign-link  {
	float: right;
	margin-right: 20px;
}

.delay-legend {
	padding: 5px;
	background-color: #FFB03B;
	float: left;
}

.ok-legend {
	padding: 5px;
	background-color: #FFB03B;
	float: left;
}

.center {
	margin: 0 auto;
}

.sms-alert {
	width: 400px;
	text-align: center;
}

.top {
	margin-top: 5px; 
}

.rectangle {
	border-radius: 15px;
	width: 80px;
	height: 50px;
	background-color: #468966;
	float: left;
    margin: 10px;	
	/* width and height can be anything, as long as they're equal */
}

.rectangle a {
	text-decoration: none !important;
	color: white;
}

.rectangle p {
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	color: white;
}

.delays {
 background-color: #FFB03B;
}

header {
	background-color: #B64926;
	width: 100%;
	position: relative;
	min-height: 100px;
}

.btn {
	margin-top: 5px;
}