<header>

	<h1>
		MTA STATUS SMS SERVICE
	</h1>
	<div class="sign-link">
		<% if user_signed_in? %>
                <%= button_to "Log Out",destroy_user_session_path, method: :delete, :class => "btn btn-warning" %>
        <% end %>
    </div>
</header>
