<div class="sms-alert center">
	<h1>Receive SMS Alerts</h1>
	<%= button_to "REGISTER",new_user_registration_path, :method => :get, :class => "btn btn-primary" %>
	<%= button_to "SIGN IN",new_user_session_path, :method => :get, :class => "btn btn-default top" %>
</div>